:root {
  --layout-1: 4px;
  --layout-2: 8px;
  --layout-3: 12px;
  --layout-4: 16px;
  --layout-5: 24px;
  --layout-6: 32px;
  --layout-7: 48px;
  --layout-8: 64px;
  --layout-9: 96px;
  --layout-10: 128px;
  --layout-11: 192px;
  --layout-12: 256px;
  --layout-13: 384px;
  --layout-14: 512px;
  --layout-15: 640px;
  --layout-16: 768px;

  --background-image: linear-gradient(
    30deg
    ,#231557,#44107a 29%,#ff1361 67%,#fff800);
}

* {margin:0;padding:0;}

#root {
  background-image: linear-gradient(
    30deg
    ,#231557,#44107a 29%,#ff1361 67%,#fff800);
}

.App {
  position: relative;
  /* height: 100vh; */
  /* width: 100%; */
  /* background-color: #44107a; */
  text-align: center;
  /* margin: var(--layout-6) auto;
  height: var(--layout-16);
  padding: var(--layout-6) var(--layout-5);
  background-color: thistle;
  text-align: center; */
}

/*
  List View
 */
.list-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-note-btn {
  margin-top: var(--layout-4);
  width: var(--layout-9);
}

.list-wrapper {
  margin-top: var(--layout-4);
  width: var(--layout-12);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.note-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  list-style: none;
  padding: unset;
}

.note-list-item {
  height: var(--layout-10);
  padding: var(--layout-3);
  border: 1px solid black;
  box-sizing: border-box;
  text-align: left;
  overflow: hidden;
  cursor: pointer;
}

.list-note-title {

}

.list-note-body {
}

/*
  Note View
 */
.note-container {
  margin-top: var(--layout-7);
  padding: var(--layout-2);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-rows: auto;
}

.note-title {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: var(--layout-1);
}

.note-body {
  background-color: white;
  border-radius: var(--layout-1);
  grid-column: 1 / 4;
  width: -webkit-fill-available;
  /* text-align: left; */
  background: rgba( 249, 250, 251, 0.55 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 15.0px );
  -webkit-backdrop-filter: blur( 15.0px );
  border-radius: 10px;
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.note-body-editor {
  width: 98%;
  min-height: var(--layout-14);
  background-color: white;
  border-radius: var(--layout-1);
  grid-column: 1 / 4;
}

.back-button {
  grid-column: 1 / 2;
}

.edit-button {
  grid-column: 3 / 4;
}

.save-button {
  grid-column: 3 / 4;
}

.delete-button {
  grid-column: 1 / 2;
}
