:root {
  --layout-1: 4px;
  --layout-2: 8px;
  --layout-3: 12px;
  --layout-4: 16px;
  --layout-5: 24px;
  --layout-6: 32px;
  --layout-7: 48px;
  --layout-8: 64px;
  --layout-9: 96px;
  --layout-10: 128px;
  --layout-11: 192px;
  --layout-12: 256px;
  --layout-13: 384px;
  --layout-14: 512px;
  --layout-15: 640px;
  --layout-16: 768px;

  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 20px;
  --font-size-6: 24px;
  --font-size-7: 30px;
  --font-size-8: 36px;
  --font-size-9: 48px;
  --font-size-10: 60px;
  --font-size-11: 72px;

  --background-image: linear-gradient(
    30deg,
    #231557,
    #44107a 29%,
    #ff1361 67%,
    #fff800
  );
  --glass-background: rgba(249, 250, 251, 0.75);
  --glass-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  --glass-backdrop-filter: blur(16px);
  --glass-border: 1px solid rgba(209, 213, 219, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

#root {
  background-image: var(--background-image);
  background-attachment: fixed;
  min-height: 100vh;
}

.App {
  position: relative;
  text-align: center;
  padding: var(--layout-3) var(--layout-1);
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: var(--layout-4);
}

.header h1 {
  padding: var(--layout-3) var(--layout-4);
  border-radius: var(--layout-4);
  background: var(--glass-background);
  box-shadow: var(--glass-box-shadow);
  backdrop-filter: var(--glass-backdrop-filter);
  -webkit-backdrop-filter: var(--glass-backdrop-filter);
  border: var(--glass-border);
}

.btn {
  min-width: var(--layout-7);
  background: none;
  border: none;
  font-size: var(--font-size-3);
  font-weight: 500;
  cursor: pointer;
  color: #282828;
}

.btn-primary {
  min-width: var(--layout-8);
  padding: var(--layout-2) var(--layout-4);
  border: 1px solid transparent;
  background-color: #2ea44f;
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.15),
    hsla(0, 0%, 100%, 0)
  );
  border-radius: 6px;
  box-shadow: 0 1px 1px rgb(18 21 26 / 8%);
  color: #fff;
  font-weight: 500;
}

.btn-primary--disabled {
  background-color: #8cdfa3;
}

.btn-edit {
  background: transparent;
  color: #a06807;
  box-shadow: none;
}

.btn-delete {
  color: red;
}

/*
  List View
 */
.list-view {
  margin-top: var(--layout-4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-note-btn {
  margin-top: var(--layout-4);
  width: var(--layout-9);
}

.list-wrapper {
  margin-top: var(--layout-4);
}

.note-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: var(--layout-2);
  list-style: none;
}

.note-list-item {
  height: var(--layout-10);
  width: var(--layout-12);
  padding: var(--layout-3);
  border-radius: var(--layout-4);
  background: var(--glass-background);
  box-shadow: var(--glass-box-shadow);
  backdrop-filter: var(--glass-backdrop-filter);
  -webkit-backdrop-filter: var(--glass-backdrop-filter);
  border: var(--glass-border);

  box-sizing: border-box;
  text-align: left;
  overflow: hidden;
  cursor: pointer;
}

.list-note-title {
}

.list-note-body {
}

.list-empty-state {
  position: relative;
}

.list-empty-state__tooltip {
  padding: var(--layout-3);
  border-radius: var(--layout-3);
  background: white;
  animation-name: bounce;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: default;
}

@keyframes bounce {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(10%);
  }
}

.list-empty-state__tooltip::after {
  content: ' ';
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

/*
  Note View
 */
.note-container {
  margin: auto;
  max-width: var(--layout-13);
  margin-top: var(--layout-5);
  padding: var(--layout-4) var(--layout-4) var(--layout-5) var(--layout-4);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--layout-4);
  border-radius: var(--layout-4);
  background: var(--glass-background);
  box-shadow: var(--glass-box-shadow);
  backdrop-filter: var(--glass-backdrop-filter);
  -webkit-backdrop-filter: var(--glass-backdrop-filter);
  border: var(--glass-border);
}

.top-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: var(--layout-2);
}

.left-buttons {
  display: flex;
  gap: var(--layout-5);
}

.note-title {
  min-width: var(--layout-11);
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
}

.note-title__text {
  margin: var(--layout-3) 0;
  font-size: var(--font-size-6);
}

.note-title__input {
  padding: var(--layout-2) var(--layout-4);
  font-size: var(--font-size-3);
  background: white;
  border: none;
  border-radius: var(--layout-2);
}

.note-body {
  text-align: left;
}

.note-body-editor {
  min-height: var(--layout-10);
  padding: var(--layout-2) var(--layout-4);
  width: calc(100% - 2 * var(--layout-4));
  border-radius: var(--layout-2);
  background: transparent;
  border: none;
  resize: none;
}

.delete-modal {
  position: absolute;
  top: calc(50% - var(--layout-9) / 2);
  left: calc(50% - var(--layout-12) / 2);
  width: var(--layout-12);
  height: var(--layout-9);
  padding: var(--layout-3) var(--layout-4);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: var(--layout-4);
  background: var(--glass-background);
  box-shadow: var(--glass-box-shadow);
  backdrop-filter: var(--glass-backdrop-filter);
  -webkit-backdrop-filter: var(--glass-backdrop-filter);
  border: var(--glass-border);
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.white-background {
  background-color: #ffffff;
}

.hide {
  display: none;
}

@media (min-width: 768px) {
  .note-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .note-container {
    max-width: var(--layout-14);
  }
}

@media (min-width: 1024px) {
  .note-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
